.lista {
  text-align: left;
}

.cities{
  width: 100%;
  height: 300;
  padding: 25px;
  border: 1px solid black;
  box-sizing: border-box;
}

.videos{
  width: 100%;
  height: 300;
  padding: 25px;
  border: 1px solid black;
  box-sizing: border-box;
}

.flechas{
  display:block;
  margin-left: auto;
  margin-right: auto;
}