
/*
.user-logo {
  width: 50%;
  height: auto;
  /*padding: 20px;*/
  /*border: none;*/
  /*
  border-top: 5px;
  border-bottom: 5px;
  border: 1px solid black;
  box-sizing: border-box;
  float: left;
  text-align: left;
  display: flex;
  flex-direction: column;
  clear: right;
  }
*/